.list-container {
    transition: background $transition-duration $easing;

    &__item {
        border-width: 1px 0 0 0;
        border-style: solid;
        border-color: $concrete;
    }

    &__title {
        font-size: 1.5em;
    }

    &__date {
        font-size: .8em;
    }

    &__status {
        text-transform: capitalize;
        text-align:right;
    }
    &__filters {
        display: block;
        padding:20px 0;
        > select {
            display: block;
            width: 100%;
            height:35px;
            border: 1px solid #ccc;
            margin: 10px 0 0 0;
        }
    }
}