html,
body {
    height: 100%;
    margin: 0
}

body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    font-weight: $regular;
    background: $wetAsphalt;
}

.app {
    width: 100%;
    margin: 20px auto;
    background: rgba($black, .2);
    padding: 20px;
    box-sizing: border-box;
    @include tablet {
        max-width: 480px;
    }
    @include desktop {
        max-width: 720px;
    }
}

.flex-container {
    display: flex;
    > .column {
        width:50%;
        padding: 10px 5px;
        &--valign {
            align-self: center;
        }
        &:first-child {
            margin-right: 20px;
        }
    }
}